{% extends 'adminnavbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
    <form action="{% if book.id %}{% url 'remove-books' employee.id %}{% endif %}" method="POST">
        {% csrf_token %}

        <br><br>
        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete "{{ book.BookName }}"?
        </div>

        <p>
            <a href="{% url 'show_books' %}"><-- Return</a>
        </p>

        <p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </p>
    </form>

{% endblock %}

</body>
</html>





